.liquid-text {
  position: relative;
  display: inline-block;

  color: transparent; /* make main text invisible */
  -webkit-text-stroke: 1px #ffffff; /* white border */
}

.liquid-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #F54A00; 
  overflow: hidden;

clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);


  animation: fill 2s ease-in-out infinite alternate;
}

@keyframes fill {
  0% {
    /* 40% fill already */
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }
  100% {
    /* half fill */
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
}

